* {
	margin  : 0px;
	padding : 0px;
}
html, body {
	width:100%;
	height:100%;
}
#main {
	display: block;
	width:100%;
	height:100%;
}
nav>ul {
	position: absolute;
	top: 3px;
	left:150px;
	z-index: 99;
}
nav>ul>li {
	list-style-type: none;
	display: block;
	padding:4px 10px;
	margin-right  : 18px;
	float   : left;
	overflow: hidden;
	height:18px;
	line-height:18px;
	font-size: 10px; font-size: 1.0rem;
	        border-radius: 10px;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	background-color  : #FFF;
}
nav>ul>li>a {text-decoration: none;}
nav>ul>li.current {
	background-color  : #DDD;
	color: #222;
	pointer-events: none;
}
nav>img {
	position: absolute;
	z-index: 99;
	top: calc(50% - 9px);
	left: calc(50% - 9px);
	user-select: none;
	pointer-events: none;
}
#stalker {
	position: fixed;
	z-index: 9999;
}
.Marker {
	display:block;
	background-image:url("images/marker.png");
	background-size:contain;
}
